aside{
    height: 100vh;
    width: 15%;
    background-color: rgb(225, 225, 247);
    position: fixed;
    left: 0px;
    padding: 20px;
}

.rectangle{
    width: 35px;
    height: 20px;
}

.square{
    width: 20px;
    height: 20px;
}

.draggable{
    background: none;
    border: 1px solid black;
    cursor: grab;
}

.droppable{
    margin: 10px;
    height: 100px;
    width: 40px;
    border: 1px solid black;
}