<aside (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
    <!-- <div class="rectangle draggable" id="rectangle" draggable="true" (dragstart)="dragStartHandler($event)"></div>
    <div class="square draggable" id="square" draggable="true" (dragstart)="dragStartHandler($event)"></div>

    <div class="droppable" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)"></div> -->
</aside>