.container{
    margin: 50px 0px 0px 15%;
    padding-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.draw-area{
    height: 100vh;
    width: 90%;
    background-color: rgb(241, 241, 255);
}

.element-details-container{
    position: fixed;
    bottom: 0;
    height: 40vh;
    width: 85%;
    margin-left: 15%;
    background-color: rgb(205, 205, 230); 
    transition: all 10s;
}

svg:hover{
    background: red;
}

svg::before{
    content: "#"
}