<div #graphContainer id="graphContainer">
</div>

<!-- <div class="container" (click)="showElementDetails = !showElementDetails">
    <div class="draw-area" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)"></div>
</div>


<div class="element-details-container">
{{selectedElementDetails | json}}
</div> -->

<!-- *ngIf="showElementDetails" -->